<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="leanote,leanote.com">
<meta name="description" content="leanote, your own cloud note!">
<meta name="author" content="leanote">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet"/>
<link href="/css/blog/p.css" rel="stylesheet">
<title>leanote blog</title>
<script>
function log(o) {
}
</script>
<style>
</style>
</head>
<body>
<div id="header">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/blog">
				<span id="logo"></span>
				<span id="subTitle">lea++</span>
			</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<form class="navbar-form navbar-right">
				<input type="text" id="keywords" class="form-control" placeholder="Search...">
			</form>
			<ul class="nav navbar-nav navbar-left">
				<li class="active"><a href="#">推荐</a></li>
				<!--
				<li><a href="#">订阅</a></li>
				-->
				<li><a href="#">最新</a></li>
			</ul>
		</div>
	</div>
	</nav>
</div>
<div id="content">
	<!-- 分类 -->
	<ul class="clearfix sort-nav">
		<li class="active">
		<a class="category" href="javascript:void(null);">全部</a>
		</li>
		<!--
		<li>
		<a class="category" data-category-id="24" href="javascript:void(null);">有话好好说</a>
		</li>
		<li>
		<a class="category" data-category-id="25" href="javascript:void(null);">三思而后读</a>
		</li>
		<li>
		<a class="category" data-category-id="26" href="javascript:void(null);">职场启示录</a>
		</li>
		<li>
		<a class="category" data-category-id="27" href="javascript:void(null);">情感辞典</a>
		</li>
		<li>
		<a class="category" data-category-id="28" href="javascript:void(null);">八小时之外</a>
		</li>
		<li>
		<a class="category" data-category-id="34" href="javascript:void(null);">冰X挑战</a>
		</li>
		-->
	</ul>
	<!-- 文章列表 -->
	<ul class="thumbnails">
		{{range .blogs}}
		<li>
			<div class="article">
				<a class="title" href="/blog/view/{{.NoteId.Hex}}" title="{{.Title}} {{msg $ "fullBlog"}}" target="_blank">{{.Title}}</a>
				<a class="avatar maleskine-author" href="/blog/{{.UserId.Hex}}" title="{{.User.Username}}">
					{{ if .User.Logo}}
						<img src="{{.User.Logo}}">
					{{else}}
						<img src="/images/blog/default_avatar.png">
					{{end}}
				</a>
				<div class="content">
					{{.Desc | raw}}
				</div>
				<div class="article-info">
					<a class="author" href="/blog/{{.User.Username}}">
					<span class="fa fa-user"></span>
			          {{.User.Username}}
					</a>
					
					<!--
					<span class="fa fa-comments-o"></span>9
					<span class="fa fa-heart-o"></span>6
					-->

					<span class="fa fa-bookmark-o"></span>
					{{if .Tags}} 
						{{blogTags .Tags}}
					{{else}}
						{{msg $ "noTag"}}
					{{end}}
				</div>
			</div>
		</li>
		{{end}}
	</ul>
</div>
</body>
</html>