<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="leanote,leanote.com">
<meta name="description" content="leanote, your own cloud note!">
<meta name="author" content="leanote">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet"/>
<link href="/css/blog/p.css" rel="stylesheet">
<title>leanote blog</title>
<script>
function log(o) {
}
</script>
<style>
</style>
</head>
<body>
<div id="header">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/blog">
				<span id="logo"></span>
				<span id="subTitle">博客</span>
			</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<form class="navbar-form navbar-right">
				<input type="text" id="keywords" class="form-control" placeholder="Search...">
			</form>
			<ul class="nav navbar-nav navbar-left">
				<li class="active"><a href="#">推荐</a></li>
				<li><a href="#">订阅</a></li>
				<li><a href="#">最新</a></li>
			</ul>
		</div>
	</div>
	</nav>
</div>
<div id="content">
	<!-- 分类 -->
	<ul class="clearfix sort-nav">
		<li class="active">
		<a class="category" href="javascript:void(null);">全部</a>
		</li>
		<li>
		<a class="category" data-category-id="24" href="javascript:void(null);">有话好好说</a>
		</li>
		<li>
		<a class="category" data-category-id="25" href="javascript:void(null);">三思而后读</a>
		</li>
		<li>
		<a class="category" data-category-id="26" href="javascript:void(null);">职场启示录</a>
		</li>
		<li>
		<a class="category" data-category-id="27" href="javascript:void(null);">情感辞典</a>
		</li>
		<li>
		<a class="category" data-category-id="28" href="javascript:void(null);">八小时之外</a>
		</li>
		<li>
		<a class="category" data-category-id="34" href="javascript:void(null);">冰X挑战</a>
		</li>
	</ul>
	<!-- 文章列表 -->
	<ul class="thumbnails">
		<li>
			<div class="article">
				<a class="title" href="/p/3fd7936a7081" target="_blank">手心长出纠缠的曲线</a>
				<a class="avatar maleskine-author" data-user-slug="560c45e6e2f6" href="/users/560c45e6e2f6"><img alt="29ea71bb3c16" quality="100" src="http://upload.jianshu.io/users/upload_avatars/66255/29ea71bb3c16.jpg?imageMogr/thumbnail/90x90/quality/100" thumbnail="90x90"></a>
				<br/>
				<a class="content" href="/p/3fd7936a7081" target="_blank">   那线不美丽，勾勒不出方文山心里的青花瓷，而是王菲手心里长出的纠缠的曲线。     母亲打电话，问这个国庆能否去成都。  接电话时，我正拉着公主的手走在喧闹的街，为了躲避时时呼啸着按着喇叭冲过来的车子，我们不得不左右闪躲，如果以一支笔来勾画我们走过的轨迹，一定是弯弯曲曲的一条线，那线不美丽...</a>
				<div class="article-info">
					<a class="author" href="/users/560c45e6e2f6">
					<span class="fa fa-user"></span>
			          拉莫
					</a>
					<a class="notebook" href="/notebooks/133985/latest">
					<span class="fa fa-book"></span>
			          我的笔记本
					</a>
					<a href="/p/3fd7936a7081#comments" target="_blank">
					<span class="fa fa-comments-o"></span>9
					</a>
					<a class="like-icon-button" data-mcomponent="easy-like" data-method="post" data-remote="true" data-type="json" href="/notes/250718/like" rel="nofollow">
					<span class="fa fa-heart-o"></span>6
					</a>
					<a class="bookmark" data-mcomponent="easy-bookmark" data-method="post" data-remote="true" data-type="json" href="/notes/250718/bookmark" rel="nofollow">
					<span class="fa fa-bookmark-o"></span>
					</a>
				</div>
			</div>
		</li>
		<li>
			<div class="article">
				<a class="title" href="/p/3fd7936a7081" target="_blank">手心长出纠缠的曲线</a>
				<a class="avatar maleskine-author" data-user-slug="560c45e6e2f6" href="/users/560c45e6e2f6"><img alt="29ea71bb3c16" quality="100" src="http://upload.jianshu.io/users/upload_avatars/66255/29ea71bb3c16.jpg?imageMogr/thumbnail/90x90/quality/100" thumbnail="90x90"></a>
				<br/>
				<a class="content" href="/p/3fd7936a7081" target="_blank">   那线不美丽，勾勒不出方文山心里的青花瓷，而是王菲手心里长出的纠缠的曲线。     母亲打电话，问这个国庆能否去成都。  接电话时，我正拉着公主的手走在喧闹的街，为了躲避时时呼啸着按着喇叭冲过来的车子，我们不得不左右闪躲，如果以一支笔来勾画我们走过的轨迹，一定是弯弯曲曲的一条线，那线不美丽...</a>
				<div class="article-info">
					<a class="author" href="/users/560c45e6e2f6">
					<span class="fa fa-user"></span>
			          拉莫
					</a>
					<a class="notebook" href="/notebooks/133985/latest">
					<span class="fa fa-book"></span>
			          我的笔记本
					</a>
					<a href="/p/3fd7936a7081#comments" target="_blank">
					<span class="fa fa-comments-o"></span>9
					</a>
					<a class="like-icon-button" data-mcomponent="easy-like" data-method="post" data-remote="true" data-type="json" href="/notes/250718/like" rel="nofollow">
					<span class="fa fa-heart-o"></span>6
					</a>
					<a class="bookmark" data-mcomponent="easy-bookmark" data-method="post" data-remote="true" data-type="json" href="/notes/250718/bookmark" rel="nofollow">
					<span class="fa fa-bookmark-o"></span>
					</a>
				</div>
			</div>
		</li>
		<li>
			<div class="article">
				<a class="title" href="/p/3fd7936a7081" target="_blank">手心长出纠缠的曲线</a>
				<a class="avatar maleskine-author" data-user-slug="560c45e6e2f6" href="/users/560c45e6e2f6"><img alt="29ea71bb3c16" quality="100" src="http://upload.jianshu.io/users/upload_avatars/66255/29ea71bb3c16.jpg?imageMogr/thumbnail/90x90/quality/100" thumbnail="90x90"></a>
				<br/>
				<a class="content" href="/p/3fd7936a7081" target="_blank">   那线不美丽，勾勒不出方文山心里的青花瓷，而是王菲手心里长出的纠缠的曲线。     母亲打电话，问这个国庆能否去成都。  接电话时，我正拉着公主的手走在喧闹的街，为了躲避时时呼啸着按着喇叭冲过来的车子，我们不得不左右闪躲，如果以一支笔来勾画我们走过的轨迹，一定是弯弯曲曲的一条线，那线不美丽...</a>
				<div class="article-info">
					<a class="author" href="/users/560c45e6e2f6">
					<span class="fa fa-user"></span>
			          拉莫
					</a>
					<a class="notebook" href="/notebooks/133985/latest">
					<span class="fa fa-book"></span>
			          我的笔记本
					</a>
					<a href="/p/3fd7936a7081#comments" target="_blank">
					<span class="fa fa-comments-o"></span>9
					</a>
					<a class="like-icon-button" data-mcomponent="easy-like" data-method="post" data-remote="true" data-type="json" href="/notes/250718/like" rel="nofollow">
					<span class="fa fa-heart-o"></span>6
					</a>
					<a class="bookmark" data-mcomponent="easy-bookmark" data-method="post" data-remote="true" data-type="json" href="/notes/250718/bookmark" rel="nofollow">
					<span class="fa fa-bookmark-o"></span>
					</a>
				</div>
			</div>
		</li>
	</ul>
</div>
</body>
</html>